.converter {
  background-color: hsl(210, 24%, 25%);
  padding: 10px 50px;
  margin: 0px 10px;
  border-style: solid;
  border-width: 5px;
  border-image-slice: 1;
  border-image-source:
    linear-gradient(#ff512f,
      #dd2476,
      #1C64FF);
  box-shadow: 0px 10px 33px 3px rgba(33, 25, 25, 0.56);
}

.converter__label {
  display: block;
  margin: 30px 10px;
}

.converter__labelText {
  width: 100px;
  display: inline-block;
  margin-right: 5px;
  font-size: large;
  font-weight: bold;
}

.converter__field {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 5px;
}